extends layout

block head
  script(type='text/javascript', src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js")
  link(href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css", rel="stylesheet")
  link(href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css", rel="stylesheet")
  

block content
  .container
    .row
      #contents.col-xs-8
      form.col-xs-4(role='form')
        .checkbox
          label(for='hasid')
            input#hasid(type='checkbox', name='hasId')
            b Has ID?
        .form-group
          label(for='id') ID:
          input.form-control#id(type='text', name='_id')
        .form-group
          label(for='name') Name: 
          input.form-control#name(type='text', name='name')
        .form-group
          label(for='age') Age:
          input.form-control#age(type='text', name='age')
        .form-group
          label(for='gender') Gender: 
          input.form-control#gender(type='text', name='gender')
        .form-group
          button#submit.btn.btn-default(type='button'): b submit

block tail
  script(type='text/javascript', src='/script/rest-demo.js')
  script(type='text/javascript', src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js")